<a href="/bookmark/new">Add New Bookmark</a>
<h2>List of Bookmarks (ERB)</h2>
<ul>
<% @bookmarks.each do |bookmark| %>
<li>
  <a href="/bookmarks/<%= bookmark.id %>">Edit</a>

  <!-- DELETE a bookmark entry -->
  <form action="/bookmarks/<%= bookmark.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
|
  <%=h bookmark.title %>
  (<a href="<%= bookmark.url %>"><%= bookmark.url %></a> | <%= bookmark.tag_lst.join(', ') %>)
</li>
<% end %>
</ul>
